*,div,pre,textarea,body,input,td,tr,p {
    background-color: #ebdbb2 !important;
    background-image: none !important;
    color: #282828 !important;
}
h1,h2,h3,h4 {
    background-color: #ebdbb2 !important;
    color: #282828 !important;
}
a {
    color: #458588 !important;
}
a:hover,a:focus {
    color: #83a598 !important;
}
a:visited {
    color: #83a598 !important;
}
img {
    opacity: .5;
}
img:hover {
    opacity: 1;
}

/* Hint mode color styling
 * Color scheme: Base16 Eighties (https://github.com/chriskempson/base16)
 *
 * The precedence of the user style is lower than that of the website so you
 * have to mark your style definition to have higher priority.
 */
span[vimbhint^='label'] {
    background-color: #fabd2f !important;
    border: 1px solid #282828 !important;
    color: #282828 !important;
    font: bold 10pt monospace !important;
    opacity: 1 !important;
    padding: .1em .4em !important;
    text-transform: uppercase !important;
}
span[vimbhint='label focus'] {
    font: bold 13pt monospace !important;
}
*[vimbhint^='hint'] {
    background-color: #d79921 !important;
    color: #282828 !important;
}
*[vimbhint='hint focus'] {
    background-color: #98971a !important;
    color: #282828 !important;
}
